.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    font-size: 2rem;
    color: #fff;
}

.cart {
    position: relative;
}

.cart span {
    position: absolute;
    top: 0;
    right: -4px;
    color: #fff;
    font-size: 16px;
    background-color: #de6161;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 1px 4px;
    font-weight: bold;
}